Android/sqlexample/sqlexample/bin/*
Android/sqlexample/sqlexample/obj/*
iOS/sqlexample/sqlexample/bin/*
iOS/sqlexample/sqlexample/obj/*
Forms/sqlexample/sqlexample/bin/*
Forms/sqlexample/sqlexample/obj/*